.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}


.navbar-search-icon{
    position: relative;
}


.navbar-menu li:hover{
    color: tomato;
    transition: 5s;
    cursor: pointer;
}

.dot{
    background-color: tomato;
    color: tomato;
    height: 7px;
    width: 17px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.main-cart-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

